version: '3.8'

services:
  front-end:
    build:
      context: ./Front-End/l-gastos-produtos
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_PRODUCT_API_URL: http://localhost:8080/api/v1/Product
        NEXT_PUBLIC_PACKING_API_URL: http://localhost:8080/api/v1/Packing
        NEXT_PUBLIC_RECIPE_API_URL: http://localhost:8080/api/v1/Recipe
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_PRODUCT_API_URL=http://localhost:8080/api/v1/Product
      - NEXT_PUBLIC_PACKING_API_URL=http://localhost:8080/api/v1/Packing
      - NEXT_PUBLIC_RECIPE_API_URL=http://localhost:8080/api/v1/Recipe
    depends_on:
      - webapi

  webapi:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
  
