@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base tweaks for readability */
html,
body {
  padding: 0;
  margin: 0;
}

/* Improve font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

