@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button,
[role="button"] {
  cursor: pointer;
}

